force-app/main/default/flows/Account_Plan_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>AccountPlanNameFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.Name} + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingCity} + &quot;,&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingState}</expression>
    </formulas>
    <formulas>
        <name>AccountPlanNameFormula2</name>
        <dataType>String</dataType>
        <expression>IF( LEN(LEFT(TEXT(YEAR(TODAY())) + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.Name} + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingCity} + &quot;,&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingState}, 80))&gt;=80 , 

LEFT(TEXT(YEAR(TODAY())) + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.Name} + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingCity} + &quot;,&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingState}, 77)+&apos;...&apos;, 

LEFT(TEXT(YEAR(TODAY())) + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.Name} + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingCity} + &quot;,&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingState}, LEN(LEFT(TEXT(YEAR(TODAY())) + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.Name} + &quot; &quot; + &quot;-&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingCity} + &quot;,&quot; + &quot; &quot; + {!$Record.Distributor__r.BillingState}, 80))))</expression>
    </formulas>
    <interviewLabel>Account Plan Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Growth_Driver_AdPro_Utilization</name>
        <label>Create Growth Driver: AdPro Utilization</label>
        <locationX>176</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Create_Growth_Driver_Competitive_Conversion</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Growth_Driver_Record_Type_AdPro_Utilization.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Growth_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Growth_Driver_Competitive_Conversion</name>
        <label>Create Growth Driver: Competitive Conversion</label>
        <locationX>176</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Create_Growth_Driver_New_Markets</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Growth_Driver_Record_Type_Competitive_Conversion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Growth_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Growth_Driver_Current_Customer_Maintenance_and_Growth</name>
        <label>Create Growth Driver: Current Customer Maintenance and Growth</label>
        <locationX>176</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Create_Growth_Driver_AdPro_Utilization</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Growth_Driver_Record_Type_Current_Customer_Maintenance_and_Growth.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Growth_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Growth_Driver_Distributor_Engagement</name>
        <label>Create Growth Driver: Distributor Engagement</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Growth_Driver_New_Customer_Target_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Growth_Driver_Record_Type_Distributor_Engagement.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Growth_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Growth_Driver_New_Customer_Target_Opportunities</name>
        <label>Create Growth Driver: New Customer Target Opportunities</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Create_Growth_Driver_Current_Customer_Maintenance_and_Growth</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Growth_Driver_Record_Type_New_Customer_Target_Opportunities.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Growth_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Growth_Driver_New_Markets</name>
        <label>Create Growth Driver: New Markets</label>
        <locationX>176</locationX>
        <locationY>1775</locationY>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Growth_Driver_Record_Type_New_Markets.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Growth_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Growth_Driver_Record_Type_AdPro_Utilization</name>
        <label>Get Growth Driver Record Type: AdPro Utilization</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Driver_Record_Type_Competitive_Conversion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Driver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdPro_Utilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Growth_Driver_Record_Type_Competitive_Conversion</name>
        <label>Get Growth Driver Record Type: Competitive Conversion</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Driver_Record_Type_New_Markets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Driver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitive_Conversion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Growth_Driver_Record_Type_Current_Customer_Maintenance_and_Growth</name>
        <label>Get Growth Driver Record Type: Current Customer Maintenance and Growth</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Driver_Record_Type_AdPro_Utilization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Driver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current_Customer_Maintenance_and_Growth</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Growth_Driver_Record_Type_Distributor_Engagement</name>
        <label>Get Growth Driver Record Type: Distributor Engagement</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Driver_Record_Type_New_Customer_Target_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Driver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor_Engagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Growth_Driver_Record_Type_New_Customer_Target_Opportunities</name>
        <label>Get Growth Driver Record Type: New Customer Target Opportunities</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Driver_Record_Type_Current_Customer_Maintenance_and_Growth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Driver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Customer_Target_Opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Growth_Driver_Record_Type_New_Markets</name>
        <label>Get Growth Driver Record Type: New Markets</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Plan_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Driver__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Markets</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Plan_Name</name>
        <label>Update Account Plan Name</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_Growth_Driver_Distributor_Engagement</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Plan_Name__c</field>
            <value>
                <elementReference>AccountPlanNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountPlanNameFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Growth_Driver_Record_Type_Distributor_Engagement</targetReference>
        </connector>
        <object>Account_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
