force-app/main/default/flows/Assign_payer_account_owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_end_customer_parent_null_or_not</name>
        <label>Check end customer parent null or not</label>
        <locationX>1634</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_end_customer_parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_end_customer_parent_account</targetReference>
            </connector>
            <label>Check end customer parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_end_customer_parent_s_parent_level_2</name>
        <label>Check end customer parent&apos;s parent level 2</label>
        <locationX>1370</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_end_customer_parent_s_parent_level_2_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.Parent.Parent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_end_customer_parent_s_parent_level_2_record_type</targetReference>
            </connector>
            <label>Check end customer parent&apos;s parent level 2 account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_end_customer_parent_s_parent_level_2_record_type</name>
        <label>Check end customer parent&apos;s parent level 2 record type</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_end_customer_parent_s_parent_level_2_account_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.Parent.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_payer_account_owner_from_end_customer_parent_s_parent</targetReference>
            </connector>
            <label>Check end customer parent&apos;s parent level 2 account record type payer</label>
        </rules>
        <rules>
            <name>Check_end_customer_parent_s_parent_level_2_account_record_type_sold_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.Parent.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold_To</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_payer_account_owner_from_end_customer_sold_to_parent_s_parent</targetReference>
            </connector>
            <label>Check end customer parent&apos;s parent level 2 account record type sold to</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_end_customer_account</name>
        <label>Check for end customer account</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_end_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_end_customer_parent_null_or_not</targetReference>
            </connector>
            <label>Check for end customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_end_customer_parent_account</name>
        <label>check for end customer parent account</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>check_for_end_customer_parent_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_payer_account_owner_from_end_customer_parent</targetReference>
            </connector>
            <label>check for end customer parent record type</label>
        </rules>
        <rules>
            <name>check_for_end_customer_parent_record_type_for_sold_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold_To</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_payer_account_owner_from_end_customer_sold_to_parent</targetReference>
            </connector>
            <label>check for end customer parent record type for sold to</label>
        </rules>
        <rules>
            <name>check_for_end_customer_parent_record_type_for_end_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Joint_Call_Partner__r.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End_User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_end_customer_parent_s_parent_level_2</targetReference>
            </connector>
            <label>check for end customer parent record type for end customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_accounts</name>
        <label>Checking accounts</label>
        <locationX>1040</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_for_end_customer_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_sold_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_payer_account_owner_from_sold_to</targetReference>
            </connector>
            <label>Check sold to</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign payer account owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Report - Assign payer account owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_payer_account_owner_from_end_customer_parent</name>
        <label>Assign payer account owner from end customer parent</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Payer_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Joint_Call_Partner__r.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_payer_account_owner_from_end_customer_parent_s_parent</name>
        <label>Assign payer account owner from end customer parent&apos;s parent</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Payer_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Joint_Call_Partner__r.Parent.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_payer_account_owner_from_end_customer_sold_to_parent</name>
        <label>update payer account owner from end customer sold to parent</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Payer_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Joint_Call_Partner__r.Parent.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_payer_account_owner_from_end_customer_sold_to_parent_s_parent</name>
        <label>update payer account owner from end customer sold to parent&apos;s parent</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Payer_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Joint_Call_Partner__r.Parent.Parent.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_payer_account_owner_from_sold_to</name>
        <label>Update payer account owner from sold to</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Payer_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Account__r.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_accounts</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Joint_Call_Partner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Visit_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
