force-app/main/default/flows/Case_Record_Type_Update_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_AE_Record_Type_0</name>
        <label>Assign AE Record Type</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ApplicationEngineering</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Engineering_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inside_Sales_Record_Type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inside_Sales_0</name>
        <label>Assign Inside Sales</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>InsideSales</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inside_Sales_Record_Type_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Owner</name>
        <label>Check for Owner</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Profile</targetReference>
            </connector>
            <label>Check for user</label>
        </rules>
        <rules>
            <name>Check_for_queue_for_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Application Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AE_queue_Record</targetReference>
            </connector>
            <label>Check for queue for AE</label>
        </rules>
        <rules>
            <name>Check_for_queue_for_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_queue_Inside_Sales_record</targetReference>
            </connector>
            <label>Check for queue for Inside Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Profile</name>
        <label>Check for Profile</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_Application_Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Engineering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AE_Record</targetReference>
            </connector>
            <label>check for Application Engineering</label>
        </rules>
        <rules>
            <name>check_for_inside_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inside_Sales_Record</targetReference>
            </connector>
            <label>check for inside sales</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Record Type Update Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Record Type Update Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Engineering_0</name>
        <label>Get Application Engineering</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AE_Record_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inside_Sales_Record_Type_0</name>
        <label>Get Inside Sales Record Type</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Inside_Sales_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AE_queue_Record</name>
        <label>Update AE queue Record</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ApplicationEngineering</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AE_Record</name>
        <label>Update AE Record</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ApplicationEngineering</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inside_Sales_Record</name>
        <label>Update Inside Sales Record</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InsideSales</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_queue_Inside_Sales_record</name>
        <label>Update Queue Inside Sales record</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InsideSales</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Engineering_0</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationEngineering</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApplicationEngineeringQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InsideSales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InsideSalesQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
