force-app/main/default/flows/ChatTranscriptFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_record_owner</name>
        <label>Check record owner</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_record_owner_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner</targetReference>
            </connector>
            <label>Check record owner id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_owner2</name>
        <label>Check record owner2</label>
        <locationX>1766</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_record_owner_id2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner_0_0_0_0_0</targetReference>
            </connector>
            <label>Check record owner id2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Automated_Process</name>
        <label>Is Automated Process?</label>
        <locationX>512</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_record_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAuto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>autoproc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Automated_Process_0</name>
        <label>Is Automated Process?</label>
        <locationX>1568</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_record_owner2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAuto_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>autoproc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCompleted</name>
        <label>IsCompleted</label>
        <locationX>1337</locationX>
        <locationY>1343</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VisitorMessageCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCase_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGroupId</name>
        <label>IsGroup</label>
        <locationX>281</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Automated_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGroupId_0</name>
        <label>IsGroup</label>
        <locationX>1337</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Automated_Process_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCaseRecord</name>
        <label>UpdateCaseRecord</label>
        <locationX>1221</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOwnerChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueueId</targetReference>
            </connector>
            <label>IsOwnerChanges</label>
        </rules>
        <rules>
            <name>IsStatusChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetQueueId</targetReference>
            </connector>
            <label>IsStatusChanges</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GroupOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Case.Type})!=&apos;Technical Support&apos;,{!GetQueueId.VInsideSalesCase},
	IF(TEXT({!$Record.Case.Product_Group__c})==&apos;Gearing&apos;,{!GetQueueId.VApplication_Engineering_Gearing},
		IF(TEXT({!$Record.Case.Product_Group__c})==&apos;Mounted Bearings&apos;,{!GetQueueId.VApplication_Engineering_Mounted_Bearings},
			IF(TEXT({!$Record.Case.Product_Group__c})==&apos;Belted Drives&apos;,{!GetQueueId.VApplication_Engineering_PTC_BMH},
				IF(TEXT({!$Record.Case.Product_Group__c})==&apos;Couplings&apos;,{!GetQueueId.VApplication_Engineering_PTC_BMH},
					IF(TEXT({!$Record.Case.Product_Group__c})==&apos;Conveyor pulleys&apos;,{!GetQueueId.VApplication_Engineering_PTC_BMH},
							IF(TEXT({!$Record.Case.Product_Group__c})==&apos;Sensor products&apos;,{!GetQueueId.VApplication_Engineering_IIoT_Technology},{!GetQueueId.VInsideSalesCase})))))))</expression>
    </formulas>
    <interviewLabel>ChatTranscriptFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChatTranscriptFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteCase_0</name>
        <label>DeleteCase</label>
        <locationX>1205</locationX>
        <locationY>1463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Case_owner</name>
        <label>Update Case owner</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_0</name>
        <label>Update Case owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GroupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_0_0</name>
        <label>Update Case owner</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GroupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_0_0_0</name>
        <label>Update Case owner</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>IsCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GroupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_0_0_0_0</name>
        <label>Update Case owner</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>IsCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GroupOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner_0_0_0_0_0</name>
        <label>Update Case owner</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>IsCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1095</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
        <object>LiveChatTranscript</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_GetQueueId</name>
        <label>Copy 1 of GetQueueId</label>
        <locationX>1337</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>IsGroupId_0</targetReference>
        </connector>
        <flowName>GetQueueId</flowName>
        <inputAssignments>
            <name>OnlyCaseOwnerId</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>GetQueueId</name>
        <label>GetQueueId</label>
        <locationX>281</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>IsGroupId</targetReference>
        </connector>
        <flowName>GetQueueId</flowName>
        <inputAssignments>
            <name>OnlyCaseOwnerId</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
