force-app/main/default/flows/Custom_Notification_on_Pricing_Approval_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_on_approval_0</name>
        <label>Email on approval</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <actionName>Pricing_Request__c.Pricing_request_owner_approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_on_approval_0_0</name>
        <label>Email on approval</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <actionName>Pricing_Request__c.Pricing_request_owner_approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendCustomType</name>
        <label>SendCustomType</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_on_approval_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomTypeIdRSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>QueueMember</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendCustomType_0</name>
        <label>SendCustomType</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_on_approval_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RSMBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>QueueMember</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddCT</name>
        <label>AddCT</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>CustomType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendCustomType_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRSMUser</name>
        <label>AddRSMUser</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>QueueMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RSM_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCustomNotificationTypeRSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Members</name>
        <label>Assign Members</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>QueueMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckFSEUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCTRSM</name>
        <label>AssignCTRSM</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CustomTypeIdRSM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCustomNotificationTypeRSM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendCustomType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPricingNumber</name>
        <label>AssignPricingNumber</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PricingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_user_active_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserRole</name>
        <label>AssignUserRole</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>UserRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUserRole.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPricingNumber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_user_active_or_not</name>
        <label>Check user active or not</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_user_active_or_not1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Members</targetReference>
            </connector>
            <label>Check user active or not</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFSEUser</name>
        <label>CheckFSEUser</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>GetCustomNotificationType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckingFSERole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Field Sales Engineer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRSMUser</targetReference>
            </connector>
            <label>CheckingFSERole</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Custom Notification on Pricing Approval completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Notification on Pricing Approval completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotificationType</name>
        <label>GetCustomNotificationType</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddCT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PricingApprovalNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotificationTypeRSM</name>
        <label>GetCustomNotificationTypeRSM</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCTRSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PricingApprovalNotificationWithRSM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserRole</name>
        <label>GeUserRole</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignUserRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserRole</targetReference>
        </connector>
        <filterFormula>AND (Text({!$Record__Prior.Status__c}) = &apos;In Review&apos; ,   Text({!$Record.Status__c}) = &apos;Completed&apos;)</filterFormula>
        <object>Pricing_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your pricing request has been completed.
{!PricingNumber}
{!$Record.Opportunity__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pricing Request completed {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>RSMBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your teams pricing request has been completed. 
{!$Record.Name}
{!$Record.Opportunity__c}</text>
    </textTemplates>
    <variables>
        <name>CustomType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomTypeIdRSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PricingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueMember</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
