force-app/main/default/flows/GetQueueId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CaseIdAssignment</name>
        <label>CaseIdAssignment</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VInsideSalesCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsideSalesCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VApplication_Engineering_Gearing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_GearingCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VApplication_Engineering_Mounted_Bearings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_Mounted_BearingsCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VApplication_Engineering_IIoT_Technology</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_IIoT_TechnologyCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VApplication_Engineering_PTC_BMH</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_PTC_BMHCase.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RoutingIdAssignment</name>
        <label>RoutingIdAssignment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RoutingIdCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsideSalesCase2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdChat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inside_Sales_Chat.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inside_Sales_Messaging.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RoutingIdAssignment_0</name>
        <label>RoutingIdAssignment</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RoutingIdCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_Gearing2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdChat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_Gearing_Chat.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_Gearing_Msg.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RoutingIdAssignment_0_0</name>
        <label>RoutingIdAssignment</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RoutingIdCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_Mounted_Bearings2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdChat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_Mounted_Bearings_Chat.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_Mounted_Bearings_Msg.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RoutingIdAssignment_0_0_0</name>
        <label>RoutingIdAssignment</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RoutingIdCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_IIoT_Technology2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdChat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_IIoT_Technology_Chat.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_IIoT_Technology_Msg.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RoutingIdAssignment_0_0_0_0_0_0</name>
        <label>RoutingIdAssignment</label>
        <locationX>1238</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>RoutingIdCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Engineering_PTC_BMH2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdChat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_PTC_BMH_Chat.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>App_Engineering_PTC_BMH_Msg.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>GetOnlyCaseOwnerId</name>
        <label>GetOnlyCaseOwnerId</label>
        <locationX>413</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>UserRouting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AllQueueIds</defaultConnectorLabel>
        <rules>
            <name>CaseOwnerId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnlyCaseOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsideSalesCase</targetReference>
            </connector>
            <label>CaseOwnerId</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductType</name>
        <label>ProductType</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gearing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Engineering_Gearing2</targetReference>
            </connector>
            <label>Gearing</label>
        </rules>
        <rules>
            <name>Mounted_Bearings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mounted Bearings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Engineering_Mounted_Bearings2</targetReference>
            </connector>
            <label>Mounted Bearings</label>
        </rules>
        <rules>
            <name>Belted_Drives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belted Drives</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Engineering_PTC_BMH2</targetReference>
            </connector>
            <label>Belted Drives</label>
        </rules>
        <rules>
            <name>Couplings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Couplings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Engineering_PTC_BMH2</targetReference>
            </connector>
            <label>Couplings</label>
        </rules>
        <rules>
            <name>Conveyor_pulleys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conveyor pulleys</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Engineering_PTC_BMH2</targetReference>
            </connector>
            <label>Conveyor pulleys</label>
        </rules>
        <rules>
            <name>Sensor_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sensor products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Engineering_IIoT_Technology2</targetReference>
            </connector>
            <label>Sensor products</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserRouting</name>
        <label>UserRouting</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ProductType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Application Engineering</defaultConnectorLabel>
        <rules>
            <name>InsideSale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsideSalesCase2</targetReference>
            </connector>
            <label>InsideSale</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GetQueueId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetQueueId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>App_Engineering_Gearing_Chat</name>
        <label>App_Engineering_Gearing_Chat</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_Gearing_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_Gearing_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_Gearing_Msg</name>
        <label>App_Engineering_Gearing_Msg</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoutingIdAssignment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_Gearing_Msg</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_IIoT_Technology_Chat</name>
        <label>App_Engineering_IIoT_Technology_Chat</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_IIoT_Technology_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_IIoT_Technology_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_IIoT_Technology_Msg</name>
        <label>App_Engineering_IIoT_Technology_Msg</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoutingIdAssignment_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_IIoT_Technology_Msg</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_Mounted_Bearings_Chat</name>
        <label>App_Engineering_Mounted_Bearings_Chat</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_Mounted_Bearings_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_Mounted_Bearings_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_Mounted_Bearings_Msg</name>
        <label>App_Engineering_Mounted_Bearings_Msg</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoutingIdAssignment_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_Mounted_Bearings_Msg</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_PTC_BMH_Chat</name>
        <label>App_Engineering_PTC_BMH_Chat</label>
        <locationX>1238</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_PTC_BMH_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_PTC_BMH_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>App_Engineering_PTC_BMH_Msg</name>
        <label>App_Engineering_PTC_BMH_Msg</label>
        <locationX>1238</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoutingIdAssignment_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>App_Engineering_PTC_BMH_Msg</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_Gearing2</name>
        <label>Application_Engineering_Gearing</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_Gearing_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_Gearing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_GearingCase</name>
        <label>Application_Engineering_GearingCase</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Engineering_Mounted_BearingsCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_Gearing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_IIoT_Technology2</name>
        <label>Application_Engineering_IIoT_Technology</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_IIoT_Technology_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_IIoT_Technology</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_IIoT_TechnologyCase</name>
        <label>Application_Engineering_IIoT_TechnologyCase</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseIdAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_IIoT_Technology</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_Mounted_Bearings2</name>
        <label>Application_Engineering_Mounted_Bearings</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_Mounted_Bearings_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_Mounted_Bearings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_Mounted_BearingsCase</name>
        <label>Application_Engineering_Mounted_BearingsCase</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Engineering_PTC_BMHCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_Mounted_Bearings</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_PTC_BMH2</name>
        <label>Application_Engineering_PTC_BMH</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Engineering_PTC_BMH_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_PTC_BMH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Application_Engineering_PTC_BMHCase</name>
        <label>Application_Engineering_PTC_BMHCase</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Engineering_IIoT_TechnologyCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_Engineering_PTC_BMH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inside_Sales_Chat</name>
        <label>Inside_Sales_Chat</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inside_Sales_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inside_Sales_Messaging</name>
        <label>Inside_Sales_Messaging</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RoutingIdAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales_Messaging</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InsideSalesCase</name>
        <label>InsideSalesCase</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Engineering_GearingCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InsideSalesCase2</name>
        <label>InsideSalesCase</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inside_Sales_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>setup_bot__IntroBotCreateCase</sourceTemplate>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOnlyCaseOwnerId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OnlyCaseOwnerId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoutingIdCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RoutingIdChat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RoutingIdMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>routingIdValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VApplication_Engineering_Gearing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VApplication_Engineering_IIoT_Technology</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VApplication_Engineering_Mounted_Bearings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VApplication_Engineering_PTC_BMH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VInsideSalesCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
