force-app/main/default/flows/Intro_Bot_Get_Queue_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignCaseId</name>
        <label>AssignCaseId</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>MessageCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseIdFromMessage.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQueueid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RoutingIdAssignmentNew</name>
        <label>RoutingIdAssignment</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RoutingIdCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueueid.RoutingIdCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdChat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueueid.RoutingIdChat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoutingIdMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueueid.RoutingIdMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Intro Bot - Get Queue Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intro Bot - Get Queue Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCaseIdFromMessage</name>
        <label>getCaseIdFromMessage</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>routingIdValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>setup_bot__IntroBotCreateCase</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseIdFromMessage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetQueueid</name>
        <label>GetQueueid</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>RoutingIdAssignmentNew</targetReference>
        </connector>
        <flowName>GetQueueId</flowName>
        <inputAssignments>
            <name>OnlyCaseOwnerId</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubType</name>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type</name>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RoutingIdCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RoutingIdChat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RoutingIdMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>routingIdValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
