force-app/main/default/flows/Lead_Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_email_incase_of_queue</name>
        <label>Copy 1 of Send email incase of queue</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>LeadOwnerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubjectfortwodays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBodyForTwoWeeks</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Sene_email_notification</name>
        <label>Copy 1 of Sene email notification</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>LeadOwnerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubjectfortwodays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBodyForTwoWeeks</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_incase_of_queue</name>
        <label>Send email incase of queue</label>
        <locationX>842</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBodyForTwoWeeks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>LeadOwnerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubjectForTwoWeeks</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sene_email_notification</name>
        <label>Sene email notification</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBodyForTwoWeeks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>LeadOwnerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubjectForTwoWeeks</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Owners</name>
        <label>Assign Owners</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LeadOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOwnerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sene_email_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_sender_email</name>
        <label>Copy 1 of Add sender email</label>
        <locationX>710</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>SenderEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dodgesalesforce@dodgeindustrial.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_user_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Owners</name>
        <label>Copy 1 of Assign Owners</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LeadOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadOwnerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Sene_email_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Add_sender_email</name>
        <label>Copy 1 of Copy 1 of Add sender email</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>SenderEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dodgesalesforce@dodgeindustrial.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_for_user_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Lead_email_assignment_for_queue_case</name>
        <label>Copy 1 of Lead email assignment for queue case</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LeadOwnerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jbarielle@dodgeindustrial.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_email_incase_of_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_email_assignment_for_queue_case</name>
        <label>Lead email assignment for queue case</label>
        <locationX>842</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LeadOwnerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jbarielle@dodgeindustrial.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_incase_of_queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_user_type</name>
        <label>Check for user type</label>
        <locationX>710</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Lead_email_assignment_for_queue_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owners</targetReference>
            </connector>
            <label>Check for queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_working_or_assigned_status</name>
        <label>Check for working or assigned status</label>
        <locationX>644</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_assigned_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Count1__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Add_sender_email</targetReference>
            </connector>
            <label>Check for assigned status</label>
        </rules>
        <rules>
            <name>Check_for_working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_sender_email</targetReference>
            </connector>
            <label>Check for working</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_user_type</name>
        <label>Copy 1 of Check for user type</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Lead_email_assignment_for_queue_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_for_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Owners</targetReference>
            </connector>
            <label>Copy 1 of Check for queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckDate</name>
        <dataType>Date</dataType>
        <expression>DATE(2023,4,20)</expression>
    </formulas>
    <formulas>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>Sender</name>
        <dataType>String</dataType>
        <expression>&apos;dodgesalesforce@dodgeindustrial.com&apos;</expression>
    </formulas>
    <formulas>
        <name>TargetAssignedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Lead Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Notification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_working_or_assigned_status</targetReference>
        </connector>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-03</startDate>
            <startTime>06:57:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead has been in an assigned state for more than 48 hours, please take action.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyForTwoWeeks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead: {!$Record.FirstName} {!$Record.LastName}, {!$Record.Company} has been assigned to you.
Campaign: {!$Record.Campaign1__c}
Description: {!$Record.Description}

To view the details of this lead in salesforce.com click on the following link:
https://dodgeindustrial--uat.sandbox.my.salesforce.com/{!$Record.Id}
**Please change Lead Status to Working within 24-36 hours. Lead should be converted or disqualified within two weeks.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationSubjectfortwodays</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead is still in assigned stage</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationSubjectForTwoWeeks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead is still in working stage</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Lead {!$Record.Name} is still in Assigned stage</text>
    </textTemplates>
    <variables>
        <name>CustomNotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificatiinIdForTwoWeeks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
