force-app/main/default/flows/Update_fields_on_pricing_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_for_account_fields</name>
        <label>check for account fields</label>
        <locationX>1700</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_account_on_PR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type_for_end_customer.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_triggering_record_with_account_s_end_customer</targetReference>
            </connector>
            <label>Check for account on PR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_conditions</name>
        <label>Check for conditions</label>
        <locationX>1172</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>check_for_account_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_fields</targetReference>
            </connector>
            <label>Check for opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_fields</name>
        <label>Check for fields</label>
        <locationX>644</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_end_customer_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.End_Customer_Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type_sold_to.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Customer_Group_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_triggering_record_with_end_customer</targetReference>
            </connector>
            <label>Check for end customer record</label>
        </rules>
        <rules>
            <name>Check_for_account_end_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type_for_end_customer.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_triggering_record_with_account_s_end_customer</targetReference>
            </connector>
            <label>Check for account end customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_quote</name>
        <label>Check for quote</label>
        <locationX>182</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_quote_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Quote_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_number</targetReference>
            </connector>
            <label>Check for quote number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1667</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_PR_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_conditions</targetReference>
            </connector>
            <label>Check for PR Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_quote</name>
        <label>Copy 1 of Check for quote</label>
        <locationX>710</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_for_quote_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Quote_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_quote_number</targetReference>
            </connector>
            <label>Copy 1 of Check for quote number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_for_quote</name>
        <label>Copy 1 of Copy 1 of Check for quote</label>
        <locationX>1502</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Check_for_quote_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Quote_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_quote_number</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Check for quote number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update fields on pricing request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update fields on pricing request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record_type</name>
        <label>Get record type</label>
        <locationX>1667</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative_Maintenance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_for_end_customer</name>
        <label>Get record type for end customer</label>
        <locationX>1667</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>End_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_sold_to</name>
        <label>Get record type sold to</label>
        <locationX>1667</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_record_type_for_end_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold_To</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_quote_number</name>
        <label>Copy 1 of Update quote number</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Quote_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Quote_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_triggering_record_with_account_s_end_customer</name>
        <label>Copy 1 of Update triggering record with account&apos;s end customer</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_for_quote</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Customer_Account1__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_quote_number</name>
        <label>Copy 2 of Update quote number</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Quote_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Quote_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_number</name>
        <label>Update quote number</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Quote_Number__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Quote_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_triggering_record_with_account_s_end_customer</name>
        <label>Update triggering record with account&apos;s end customer</label>
        <locationX>1502</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Check_for_quote</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Customer_Account1__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_triggering_record_with_end_customer</name>
        <label>Update triggering record with end customer</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Check_for_quote</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Customer_Account1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.End_Customer_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1541</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_record_type_sold_to</targetReference>
        </connector>
        <object>Pricing_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
