force-app/main/default/flows/WebToCaseOwnerAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignInsideSalesSouthEastQueueId</name>
        <label>AssignInsideSalesSouthEastQueueId</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>InsideSalesSouthwestQueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInsideSalesOrderSupport.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsideSaleRecordtypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inside_Sales_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_way_case_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_way_case_created</name>
        <label>Check the way case created</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Sales_Support</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Inquiry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Inquiry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInsideSalesRecord</targetReference>
            </connector>
            <label>Check for Sales Support</label>
        </rules>
        <rules>
            <name>Check_for_eCommerce_or_Selection_Tools</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Inquiry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eCommerce or Selection Tools</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEToolsRecord</targetReference>
            </connector>
            <label>Check for eCommerce or Selection Tools</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WebToCaseOwnerAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WebToCaseOwnerAssignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inside_Sales_Record_Type</name>
        <label>Get Inside Sales Record Type</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignInsideSalesSouthEastQueueId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInsideSalesOrderSupport</name>
        <label>GetInsideSalesOrderSupport</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inside_Sales_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside_Sales_Order_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEToolsRecord</name>
        <label>UpdateEToolsRecord</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>InsideSalesSouthwestQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InsideSaleRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInsideSalesRecord</name>
        <label>UpdateInsideSalesRecord</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>InsideSalesSouthwestQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InsideSaleRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInsideSalesOrderSupport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationEngineeringGearingQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eToolsQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsideSaleRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsideSalesSouthwestQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
